<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>字体对话框布局和测试页面</title>
  <link rel="stylesheet" href="../list/list.css">
  <link rel="stylesheet" href="../../css/normalize.css">
  <link rel="stylesheet" href="dlg-font.css">
</head>
<body>
<div class="test">
  <input type="button" value="弹出对话框" >
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>    
<script src="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="../list/list.js"></script>
<script src="dlg-font.js"></script>
<script>
$(function() {
  var $btnTest = $('div.test>input[type="button"]');
    $btnTest.click(function() {
      $dlgFont.show({
        okHandler: function(e) {
          console.log(e);
        }
      });
    });
});
</script>
</body>
</html>
