<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>菜单栏布局和测试页面</title>
  <link rel="stylesheet" href="../statusbar/statusbar.css">
  <link rel="stylesheet" href="../../css/normalize.css">
  <link rel="stylesheet" href="menubar.css">
</head>
<body>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>    
<script src="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="../../js/app.js"></script>
<script src="../../js/menu-data.js"></script>
<script src="../statusbar/statusbar.js"></script>
<script src="menubar.js"></script>
<script>
$(function() {
  $menubar.show(np.menuData);
  $statusBar.init();
  $statusBar.display(false);
  $menubar.enabled(4, 0, false);
  $menubar.enabled(1, 0, true);
});
</script>
</body>
</html>
