<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>替换对话框布局和测试页面</title>
  <link rel="stylesheet" href="dlg-replace.css">
  <link rel="stylesheet" href="../../css/normalize.css">
</head>
<body>
<div class="test">
  <input type="button" value="弹出对话框" autofocus>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>    
<script src="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="dlg-replace.js"></script>
<script>
$(function() {
  var $btnTest = $('div.test>input[type="button"]');

  $btnTest.click(function() {
    $dlgReplace.show({
      searchHandler: function(e) { console.log('search btn click.'); console.log(e); },
      replaceHandler: function(e) { console.log('replace btn click.'); console.log(e); },
      replaceAllHandler: function(e) { console.log('replace all btn click.'); console.log(e); }
    });
  });
});
</script>
</body>
</html>
