.notepad-dlg-search {
  z-index: 10;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
}

.notepad-dlg-search .dialogbox {
  height: 164px;
  width: 414px;
  border: 1px solid #0f7fd6;
  box-shadow: 10px 10px 10px #d6d6d6;
  box-sizing: border-box;
  cursor: default;
  margin: 0 auto;
  position: relative;
  top: 100px;
  user-select: none;
}
.notepad-dlg-titlebar {
  background-color: white;
  font-size: 1.3em;
  height: 30px;
}

.notepad-dlg-titlebar .title {
  left: 10px;
  line-height: 30px;
  position: absolute;
}

.notepad-dlg-titlebar .close-btn {
  color: gray;
  line-height: 30px;
  position: absolute;
  right: 0;
  text-align: center;
  width: 30px;
}

.notepad-dlg-titlebar .close-btn:hover {
  background-color: red;
  color: white;
}
.notepad-dlg-search .main {
  height: 132px;
  padding: 6px;
  background-color: #f0f0f0;
  box-sizing: border-box;
  font-size: 1.2em;
  position: relative;
}
.notepad-dlg-search .main .btn {
  height: 28px;
  width: 86px;
}
.notepad-dlg-search .main .txt-content {
  box-sizing: border-box;
  height: 26px;
  margin: 10px;
  width: 224px;
}

.notepad-dlg-search .main .btn-search {
  position: absolute;
  right: 8px;
  top: 12px;
}

.notepad-dlg-search .main .btn-cancel {
  bottom: 56px;
  position: absolute;
  right: 8px;
}

.notepad-dlg-search .main .search-direction {
  border: 1px solid #dcdcdc;
  box-sizing: border-box;
  height: 52px;
  left: 172px;
  padding: 10px 5px;
  position: absolute;
  top: 64px;
  width: 136px;
}

.notepad-dlg-search .main input[value="down"] {
  margin-left: 5px;
}

.notepad-dlg-search .main input[value="capital-sense"] {
  margin-top: 30px;
}
