<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>查找对话框布局和测试页面</title>
  <link rel="stylesheet" href="dlg-search.css">
  <link rel="stylesheet" href="../../css/normalize.css">

</head>
<body>
<div class="test">
  <input type="button" value="弹出对话框" autofocus>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>    
<script src="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="dlg-search.js"></script>
<script>
$(function() {
  var $btnTest = $('div.test>input[type="button"]');

  $btnTest.click(function() {
    $dlgSearch.show(function(content) {
      console.log("search btn click!");
      console.log(content);
    });
  });
});
</script>
</body>
</html>
